<!DOCTYPE html>
<html>

<head>
    <title>Add Manga</title>
    <meta name="viewport" content="with=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/05f9009fe4.js"></script>
</head>

<body>
    <navbar class="nav">
        <h1><a href="#">兎</a></h1>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'mangalib:home' %}">Home</a></li>
                <li><a href="{% url 'mangalib:add' %}">Add</a></li>
                <li><a href="{% url 'mangalib:gimme' %}">Gimme</a></li>
                <li><a href="{% url 'mangalib:logout' %}"> Logout </a></li>
                <li><a href="#">{{user.username}} </a></li>
            </ul>
        </div>
    </navbar>

    <section class = "form">
        <form method = "post">
            {% csrf_token %}
            <label for = "id">Manga ID</label>
            <input type = "text" placeholder = "Enter manga ID" name = "id" required>
            <p style="font-size:12px;">Example:</p>

            <p style="font-size:10px;">https://mangadex.org/title/<span style = "color:aqua">6306c976-d776-48c3-b29f-d345e65f272b</span>/yuruyuri</p>
            <p style="font-weight:500; color:red; margin: 5px 0;"> {{ message }} </p>
            <button type = "submit">Add</button>
        </form>
    </section>
</body>

</html>